<% content_for :heading do%>
<%= @merchant.name %>'s shop
<%end%>

<h2>My Bulk Discounts</h2>
<table id="discount-table">
  <tr class='headings'>
    <th>Discount ID</th>
    <th>Percentage</th>
    <th>Threshold Quantity</th>
    <th></th>
  </tr>
<% @bulk_discounts.each do |discount| %>
<tr class='discount' id='bd-id-<%=discount.id%>'>
  <td><%= link_to "#{discount.id}", merchant_bulk_discount_path(@merchant,discount) %></td>
  <td><%= discount.discount %>%</td>
  <td><%= discount.threshold %> items</td>
  <td><%= link_to "Delete Discount", merchant_bulk_discount_path(@merchant,discount), method: :delete %> </td>
</tr>
<% end %>
</table>
<p><%= link_to "Create New Bulk Discount", new_merchant_bulk_discount_path(@merchant) %> </p>