<% content_for :heading do%>
<%= @merchant.name %>'s shop
<%end%>

<h2>Invoice #<%= @invoice.id %></h2>

<p>Status: <%= @invoice.status %></p>
<p>Created at: <%= @invoice.created_at.strftime("%A, %B %d, %Y") %></p>

<div id="total_invoice_revenue">
  <p>Total Revenue From This Invoice: <%= price_round(@invoice.calculate_invoice_revenue)%></p>
</div>
<div id="merchant_invoice_revenue">
  <p>Your Revenue From This Invoice: <%= price_round(@invoice.merchant_invoice_revenue(@merchant))%></p>
</div>
<div id="discount_invoice_revenue">
  <p>Total Revenue With Discounts From This Invoice: <%= price_round(@invoice.discount_invoice_revenue)%></p>
</div>

<h3>Customer:</h3>
<p style='margin-left:20px'><%= @invoice.customer.name %></p>

<h3>Items on this Invoice </h3>
<table id="invoice_items" style='border:0px;border-left:2px solid rgb(200,200,200)'>
  <tr >
    <th style='border-top:2px solid rgb(200,200,200)'>Item Name</th>
    <th style='border-top:2px solid rgb(200,200,200)'>Quantity</th>
    <th style='border-top:2px solid rgb(200,200,200)'>Unit Price</th>
    <th style='border-top:2px solid rgb(200,200,200)'>Status</th>
  </tr>
  <% @invoice.invoice_items.each do |item| %>
  <% if item.item.merchant_id == @merchant.id %>
    <tr  id="item_<%= item.id %>">
      <td><%= item.item.name %></td>
      <td><%= item.quantity %></td>
      <td><%= price_round(item.unit_price) %></td>
      <td>
        <%= form_with url: merchant_invoice_item_path(@merchant, item), method: :patch do |f| %>
          <%= f.label :status, "Status" %>
          <%= f.select :status, options_for_select([:pending, :packaged, :shipped], selected: item.status) %>
          <%= f.hidden_field :invoice_id, value: @invoice.id %>
          <%= f.submit "Update Item Status"  %>
        <% end %>
      </td style='border-right:2px solid rgb(200,200,200)'>
      <% if item.best_discount%>
      <td style='border:0px; background-color: transparent;'>
          <%= link_to "Applied Discount", merchant_bulk_discount_path(@merchant,item.best_discount) %>
      </td>
      <% end %>
    </tr>
    <% end %>
  <% end %>
</table>

